.container {
    padding: 0 5%;
    text-align: center;
    margin-top: 10vh;
  }
  
  .title {
    font-size: 2.5em;
    margin-Top: 2em;
    margin-bottom: 20px;
    text-align: right;
  }
  
  .imageGrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .imageWideContainer {
    flex: 2;
    display: flex;
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
  }
  
  .imageWide, .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .textContent {
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 20px;
  }
  
  .subTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .paragraph {
    font-size: 1.3em;
    line-height: 1.8; /* 调整段落的行间距 */
    letter-spacing: 0.05em; /* 调整字间距 */
    margin-bottom: 2em; /* 调整段落的段间距 */
  }
  