

.imgContainer{
    display: flex;
    position: 'fixed'; 
    
   
    
}

.logo{
    object-fit:fill;
    padding: 200px 20px 50px 20px;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 700px) {
    .rotateMobile {
      
      padding-top: 0vh;
      
      transition: all 0.1s ease-in-out;
     
    }

    .imgContainer{
        height: 100vh;
        
        
    }

  }